.input {
	height: 38px;
	padding: 0 10px;
	background-color: $background;
	border: 1px solid $gray-07;
	border-radius: 4px;
	box-shadow: none;

	&:focus {
		border: 1px solid $accent;
		outline: 0;
  }
}