.input {
  display: block;

  width: 100%;
  max-width: 400px;
  min-width: 280px;
  height: 38px;
  margin: 0 auto 2rem;
  padding: 0 10px;

  border: 1px solid $gray-07;
  border-radius: 4px;
  background-color: $background;
  box-shadow: none;

  &:focus {
    border: 1px solid $accent;
    outline: 0;
  }
}
